<!--FOOTER-->
<section id="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col my-3 text-center">
        <%= image_tag("logo.png", :alt => "logo") %>
        <br>
        © 2020 QR ALZHEIMER | ALL RIGHTS RESERVED 
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
